@import url('line-awesome/dist/line-awesome/css/line-awesome.min.css');

html {
    --lumo-border-radius: 2px;

    --lumo-primary-color: #4B5BD6;
    --lumo-primary-text-color: #414FBC;

    --lumo--secondary-color: #0A8BAE;
    --lumo-secondary-text-color: #097492;

    --lumo--tertiary-color: #DF9135;
    --lumo-tertiary-text-color: #BC8341;


    --lumo-box-shadow-xs: 0 1px 4px -1px;
    --lumo-box-shadow-m: 0 2px 6px -1px;
    --lumo-box-shadow-l: 0 3px 18px -2px;
    --lumo-box-shadow-xl: 0 4px 24px -3px;

    background-color: #eaecee;
}

.button-selected {
    background-color : #4B5BD6;
}

.responsive-layout {
    flex-wrap: wrap;
    align-content: flex-start;
}

.distribution-bar {
    max-width: 85%;
    height: 25px;
    margin-top: 8px;
    margin-left: 50px;
    display: flex;
}

.distribution-bar-part {
    min-width: 30px;
    max-width: 95%;
    height: 25px;
    display: flex;
}

.distribution-bar-part-number {
    width: 0;
    color: white;
    position: relative;
}
